body {
    overflow-x: hidden;
}

#subjectlogo {
    position: relative;
    left: 480px;
    height: 120px;
    width: 370px;

}

#subjectbackground {
    width: 1400px;
    height: 430px;
    position: relative;
    right: 55px;

}

#background-text {
    position: absolute;
    left: 280px;
    bottom: 248px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;

}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    position: relative;
    text-align: center;
}

.container {
    background-color: lightgrey;
    height: 450px;
    width: 1345px;
    position: relative;
    right: 5px;
}

.li-text {
    padding-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 135%;
    position: relative;
    left: 25px;

}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 0.7em;
    margin-left: -1em;
}

/* contact details */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.data {
    width: 100%;
    max-width: 1400px;
    height: 450px;
    background-color: white;
    border-radius: none;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: lightgrey;
}

.data-info .title-1 {
    color: white;
    background-color: #e00909;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 190%;
    margin-bottom: 0.7rem;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    padding-left: 30px;
    padding-right: 35px;
}

/* contact form */
.contact-form {
    background-color: #eb5353;
    position: relative;
}

.title {
    color: white;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-container {
    position: relative;
    margin: 1rem 0;
    
}

.input {
    width: 90%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: black;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

::placeholder {
    color: rgba(0, 0, 0, 0.466);
    opacity: 1;
    font-weight: bold;
}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

p4 {
    color: rgba(255, 255, 255, 0.918);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 450;

}

.btn {
    background-color: lightgrey;
    border: none;
    position: relative;
    left: 265px;
    font-size: 14px;
    width: 80px;
    height: 22px;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: black;

}

.input-container {
    background-color: whitesmoke;

}